body {
	background-image: url("/assets/categoryPics/tahoebackground.JPG");
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 0;
	margin: 0;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

h1, h2 {
	font-size: 2em;
}

h2 a {
	color: purple;
	margin-bottom: 2em;
}

header {
	margin-bottom: -10em;
}

main {
	margin-bottom: 5em; 
}

table {
	max-width: 90vw;
}

ul#cd-gallery-items li {
	background-color: #394d65;
}

#flash p {
	font-size: 45px;
	color: red;
	text-shadow: 1px 1px 0 #000,
				-1px 1px 0 #000,
				1px -1px 0 #000,
				-1px -1px 0 #000,
				0px 1px 0 #000,
				0px -1px 0 #000,
				-1px 0px 0 #000,
				1px 0px 0 #000,
				2px 2px 0 #000,
				-2px 2px 0 #000,
				2px -2px 0 #000,
				-2px -2px 0 #000,
				0px 2px 0 #000,
				0px -2px 0 #000,
				-2px 0px 0 #000,
				2px 0px 0 #000,
				1px 2px 0 #000,
				-1px 2px 0 #000,
				1px -2px 0 #000,
				-1px -2px 0 #000,
				2px 1px 0 #000,
				-2px 1px 0 #000,
				2px -1px 0 #000,
				-2px -1px 0 #000;
	padding-top: 100px;
	padding-left: 100px;
	padding-bottom: 0px;
	height: 10px;
	width: 1000px;
}

.catname {
	padding-bottom: .4em;
	padding-top: .6em;
	text-align: center;
}

.category-wrapper {
	position: relative;
	background-image: url('/assets/smart-fixed-navigation/img/thumb.jpg');
	max-width: 300px;
	font-size: .8em;
	padding: 1em;
}

.category-wrapper a:hover {
	text-decoration: none;
	color: #e84a64;
}

.category-image {
	max-height: 150px;
	border-radius: 20px;
	border: .5em solid black;
	width: auto;
	height: auto; 
}

.create-post {
	width: 90%;
  	max-width: 750px;
	margin:	auto;
	padding: auto;
    background-color: #e1e1e1;
    padding: 2em;
    border-radius: 1em;
}

.create-post h1 {
	text-align: center;
}

.create-post textarea {
	resize: none;
}

.create-post label {
	margin-bottom: .5em;
}

#create-submit {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

#cd-logo {
	margin-top: 2em;
}

.form-btn {
	margin: .5em;
}

#files {
	visibility: hidden;
}

.image {
  display: block;
  max-width: 230px;
  max-height: 195px;
  width: auto;
  height: auto;
  margin: auto;
}

.posts-image {
	display: block;
  	max-width: 25vw;
  	max-height: 195px;
  	width: auto;
  	height: auto;
  	border: 3px solid black;
  	border-radius: 10px;
}

.icon {
	background-image: url('/assets/smart-fixed-navigation/img/thumb.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1em;
}


.message-to-user {
	background-color: white;
	margin: 5em;
	padding: 1em;
}

.message-to-user button {
	display: block;
	margin: 1em;
	text-align: center;
}

.message-to-user a {

}

.post-info {
	padding: 1em;
}

.post {
	margin: 0 auto;
}

.posts {
	background-color: white;
	margin: auto;
	margin-left: 1em;
	margin-right: 1em;
	border-radius: 10px;
	max-width: 90vw;
}

.posts-post-body {
	max-width: 40em;
	margin: auto;
}

.posts-post-title {
	margin: auto;
}

#search-input {
	margin-left: 1em;
}

#search-button-wrap {
	padding-left: 0;
}

.thumbnail {
    height: 100px;
    margin: 10px;    
}

.truncate {
width: 250px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

#tylers {
	color:red;
	font-size: 7em;
	font-family: 'Indie Flower', cursive;
}

#list {
	color: purple;
	font-size: 7em;
	font-family: 'Indie Flower', cursive;
}

.upload-thumbnail {
	height: 100px;
    margin: 10px;
    margin-bottom: 20px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


#upload-area {
    width: 100%;
    text-align: center;
    border-style: dashed;
    border-width: 0.25em;
    padding: 2em;
}

#upload-photos {
	width: 100%;
}

@media (max-width: 1169px) {

	header {	
		margin-bottom: 1em;
	}
}

@media (max-width: 950px) {
	#tylers, #list {
		font-size: 6em;
	}	

	#cd-logo {
		margin: 1em;
	}

	header {
		margin-bottom: 1em;
	}

	#upload-area {
		padding: 0;
	}
}

@media (max-width: 600px) {


	header {
		margin-bottom: 1em;
	}

	input#files {
		left: -2em;
	    position: relative;
	}

	#upload-photos, #create-submit {
		width: 100%;
	}

	#tylers, #list {
		font-size: 4em;
	}	

	#cd-logo {
		margin: 1em;
	}

	.mobile-no {
		display: none;
	}
}