{% extends "layout.html" %}
{% block body %}
<div class="create-post">
	<h1>Create Post</h1>
	<form action="/create" method="POST" enctype="multipart/form-data" id="create-form">
		<div class="form-group">
			<label for="emailInput">Email address:</label>
			<input id="emailInput" class="form-control" name="email" type="text" autofocus=autofocus/>	
		</div>
		<div class="form-group">
			<label for="catSelect">Select category:</label>
			<select class="form-control" id="catSelect" name="category_id">
	    		{% for category in categories %}
					<option class="form-control" value="{{category.id}}">{{category.name}}</option>
    			{% endfor %}	
    		</select>
    	</div>
    	<div class="form-group">
    		<label for="titleText">Title:</label>
			<textarea class="form-control" name="title" id="titleText" rows="1" placeholder="Please enter the title of your post here."></textarea>
		</div>
		<div class="form-group">
			<label for="priceText">Price:</label>
			<textarea id="priceText" class="form-control" name="price" placeholder="Enter Price" rows ="1" cols="18"></textarea>
		</div>
		<div class="form-group">
			<label for="bodyText">Body:</label>
			<textarea id="bodyText" class="form-control" name="body" placeholder="Please enter the body of your post here." rows="10"></textarea>
		</div>
		<button type="submit" class="btn btn-success form-btn">Submit Post</button>
		<div id="upload-photos" class="btn btn-info">Upload Photos</div>
		<div id="upload-area"></div>
	</form>
</div>
{% endblock %}