<!doctype html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<script   src="http://code.jquery.com/jquery-latest.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.css">
	<script type="text/javascript" src="/assets/smart-fixed-navigation/js/modernizr.js"></script>
    <link rel="stylesheet" href="/assets/smart-fixed-navigation/css/reset.css"/>
    <link rel="stylesheet" href="/assets/smart-fixed-navigation/css/style.css"/>
	<link href="/assets/hover-min.css" rel="stylesheet" media="all">    
    <link rel="stylesheet" href="/assets/home.css"/>
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    {% block head %}{% endblock %}
  </head>
		<body>
			<header>
				<div id="cd-logo"><a href="/" id="main-logo"><span id="tylers">Tyler's</span><span id="list">List</span></a></div>
				<h1></h1>
			</header>

			{% with messages = get_flashed_messages() %}
				{% for message in messages %}
					<div class="alert alert-info">
  						<strong>{{message}}</strong>
					</div>
				{% endfor %}
			{% endwith %}

			<div id="cd-nav">
				<a href="#0" class="cd-nav-trigger">Menu<span></span></a>

				<nav id="cd-main-nav">
					<ul>
						<li><a class="nav-link" href="/">Home</a></li>
						<li><a class="nav-link" href="/posts">Posts</a></li>
						<li><a class="nav-link" href="/create">Create Post</a></li>
						<li><a class="nav-link" href="http://tylerprobst.github.io" target="_blank">Contact</a></li>
						<li id="searchform">
							<form role="form" action="/search?" class="form-inline">
								<div class="form-group row">
									<div class="col-xs-6">
										<input name="query" id="search-input" class="form-control col-sm-12" type="text" placeholder="Search">
									</div>
									<div class="col-xs-6" id="search-button-wrap">
										<button class="btn btn-success-outline" type="submit">Search</button>
									</div>
								</div>
							</form>
						</li>
					</ul>
				</nav>
			</div>
			<main>
				{% block body %}{% endblock %}	
			</main>
		<script type="text/javascript" src="/assets/main.js"></script>
		<script type="text/javascript" src="/assets/smart-fixed-navigation/js/main.js"></script>
	</body>
</html>