<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/home.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/assets/main.js"></script>
  </head>
		<body>	
			{% with messages = get_flashed_messages() %}
			{% for message in messages %}
				<p id="flash">{{message}}</p>
			{% endfor %}
			<div class="header">
				<div class="main-logo">
					<a href="/"><img src="/assets/Craiglist_Logo.png"></a>
				</div>
				<div class="search">
					<h1><form action="/search" method="GET">
						<input id="search" type="text" name="query"/>
						<button id="search" type="submit">Search</button>
					</form></h1>
				</div>
				<div class="nav">
					<h1>
			  			<a href="/categories" >Categories</a>
			  			<a href="/posts" >Posts</a>
			  			<a href="/create" >Create Post</a> 
					</h1>
				</div>
			</div>
			{% block body %}{% endblock %}
			{% endwith %}
		</body>
	</div>
</html>
