<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/home.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/assets/main.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
		<body>	
			{% with messages = get_flashed_messages() %}
			{% for message in messages %}
				<p id="flash">{{message}}</p>
			{% endfor %}
				<nav id="navbar">
					<a href="/"><img src="/assets/Craiglist_Logo.png"></a>
			    	<div>
						<ul class="nav nav-pills">
		  					<li role="presentation" class="btn btn-large"><a id="nav-button" href="/categories">Categories</a></li>
		  					<li role="presentation" class="btn btn-large"><a id="nav-button" href="/posts">Posts</a></li>
		  					<li role="presentation" class="btn btn-large"><a id="nav-button" href="/create">Create Post</a></li> 
						</ul>
			    	</div>
			    	<div class="search">
						<form action="/search" method="GET">
							<div class="input-group">
	      						<input name="query" type="text" class="form-control" placeholder="Search for...">
	      						<span class="input-group-btn">
	        					<button class="btn btn-default" type="submit">Search!</button>
	      						</span>
	      					</div>
						</form>
					</div>
				</nav>
			{% block body %}{% endblock %}
			{% endwith %}
		</body>
	</div>
</html>
