{% extends "layout.html" %}
{% block body %}
<div class="posts">

	<ul id="cd-gallery-items" class="cd-container">
		{% for post in posts %}	
			<li>
				<div class="icon">
					{% if post.images %}
						<img src="{{config['S3_BUCKET_LINK']}}{{post.images[0].filename}}" class="image">
						<!-- <img src="/assets/smart-fixed-navigation/img/thumb.jpg" alt="Preview image"> -->
					{% endif %}
				</div>
				<div class="post-info">
					<a href="/posts/{{post.id}}">{{post.title}}</a>
					<p>&nbsp;</p>
					<p>Reply to: {{post.email}}</p></button>
				</div>
			</li>
		{% endfor %}
</div> 	
{% endblock %}